<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>Fitnes</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/fitnes</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>userSecurity</web-resource-name>
            <url-pattern>/user.jsp</url-pattern>
            <url-pattern>/exerciseInfo.jsp</url-pattern>
            <url-pattern>/visitList.jsp</url-pattern>
            <url-pattern>/favExercise</url-pattern>
            <url-pattern>/changePass</url-pattern>
            <url-pattern>/userlog</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>1</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>userSecurity</web-resource-name>
            <url-pattern>/coach.jsp</url-pattern>
            <url-pattern>/editExercise.jsp</url-pattern>
            <url-pattern>/exerciseInfo.jsp</url-pattern>
            <url-pattern>/addExercise</url-pattern>
            <url-pattern>/changePass</url-pattern>
            <url-pattern>/deleteExercise</url-pattern>
            <url-pattern>/updateExercise</url-pattern>
            <url-pattern>/userlog</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>userSecurity</web-resource-name>
            <url-pattern>/staff.jsp</url-pattern>
            <url-pattern>/allUsers.jsp</url-pattern>
            <url-pattern>/passReset.jsp</url-pattern>
            <url-pattern>/userAdded.jsp</url-pattern>
            <url-pattern>/visitList.jsp</url-pattern>
            <url-pattern>/userData.jsp</url-pattern>
            <url-pattern>/addPackage</url-pattern>
            <url-pattern>/addUser</url-pattern>
            <url-pattern>/changePass</url-pattern>
            <url-pattern>/confirmVisit</url-pattern>
            <url-pattern>/resetPass</url-pattern>
            <url-pattern>/usercheck</url-pattern>
            <url-pattern>/userlog</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>3</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>JDBCRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <error-page>
        <error-code>403</error-code>
        <location>/userlog</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404error.jsp</location>
    </error-page><error-page>
        <location>/runError.jsp</location>
    </error-page>
    <security-role>
        <description>User</description>
        <role-name>1</role-name>
    </security-role>
    <security-role>
        <description>Coach</description>
        <role-name>2</role-name>
    </security-role>
    <security-role>
        <description>Staff</description>
        <role-name>3</role-name>
    </security-role>
    <servlet>
        <servlet-name>izpis</servlet-name>
        <servlet-class>si.am.fitnes2.Servleti.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>izpis</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
</web-app>